body{
    text-align: center;
    background-color: rgb(31, 32, 32);
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: white;
}

p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    border: 100px;
    color: white;
}
